
# site
/site/node_modules
/site/build

# server
/server/node_modules
/server/build
/server/key

# data
/data
# misc
.DS_Store
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock*


secret

*.zip