@media screen and (min-width: 1000px) {
  .index{
    width: 100%;
    height: 100%;
    background-color: #168BD5;
    .header{
      width: 100%;
      height: 160px;
      .logo{
        height: 50%;
        padding: 40px ;
        position: relative;
        .web_logo{
            display: block;
            padding-left: 120px;
        }
      }
    }
    .body{
      //margin-top: 20px;
      width: 100%;
      height: 500px;
      .body_inner{
        padding: 0 40px 0 40px;
        display: flex;
        .body_left{
          width: 50%;
         .left_inner{
            height: 100%;
            padding-left: 120px;
            width: 100%;
            ul{
              padding: 0;
              margin: 0;
              li{
                list-style: none;
                font-size: 5rem;
                line-height: 3;
                color: #fff;
                font-family: Arial;
                font-style: italic;
                letter-spacing: 20px;
              }
            }
          }
        }
      }
      .body_right{
          padding-left: 80px;
      }
    }
  }
  .login {
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 100%;
    height: 420px;
    align-items: center;
    border-radius: 20px;
  }

  .login_frm {
      // background: #eee;

      padding: 20px 30px;
      width: 400px;
      height: 100%;
      display: flex;
      flex-direction: column;
      border-radius: 4px;
     //align-items: center;
      box-shadow: 0 0 10px rgba(0,0,0,.1);
      .title{
        text-align: center;
        padding-bottom: 20px;
        .title_inner{
          display: flex;
          flex-direction: column;
          align-items: center;
          img{
            width: 60px;
            height: 60px;
          }
          label{
            font-style: italic;
            font-weight: 800;
          }
        }
       
      }
      .btn{
        display: flex;
        justify-content: center;
      }
      .input_btn{
        width: 155px;
        background-color: #168BD5;
      }
      &>label {
        font-size: 24px;
        text-align: center;
      }
      .tip{
        display: flex;
       // justify-content: center;
        .tip_inner{
          width: 340px;
          height: 60px;
          border: solid 1px #797979;
          border-radius: 5px;
          background-color: #FACD91;
          ul{
            li{
              list-style: none;
              color:#F59A23;
              font-size: 1rem;
            }
          }
        }
      }
    }
    .m_footer{
        height: 60px;
        display: flex;
        justify-content: center;
        .footer_inner{
          width: 50%;
          height: 30%;
          text-align: center;
          a{
            color: #fff;
            text-decoration: none;
          }
        }
    }

}


@media screen and (max-width: 1000px) {

.index{
  width: 100wh;
  height: 100vh;
  background-color: #168BD5;
  .header{
    width: 100%;
    height: 90px;
    .logo{
      width: 100%;
      height: 80%;
      display: flex;
      padding-top: 40px;
      justify-content: center;
      align-items: center;
      position: relative;
      .web_logo{
          display: block;
          //padding-left: 120px;
      }
    }
  }
  .body_left{
    display: none;
  }
  .body{
    width: 100%;
    .body_inner{
      padding: 40px;
      .login {
        display: flex;
        flex-direction: column;
        background: #fff;
        width: 100%;
        height: 420px;
        align-items: center;
        border-radius: 20px;
        .title{
          text-align: center;
          padding-bottom: 20px;
          .title_inner{
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
              width: 60px;
              height: 60px;
            }
            label{
              font-style: italic;
              font-weight: 800;
            }
          }
         
        }
        .tip{
          display: flex;
         // justify-content: center;
          .tip_inner{
            min-width: 244px;
            border: solid 1px #797979;
            border-radius: 5px;
            background-color: #FACD91;
            ul{
              li{
                list-style: none;
                color:#F59A23;
                font-size: 1rem;
              }
            }
          }
        }
      }
    }
  }
  .m_footer{
    height: 60px;
    display: flex;
    justify-content: center;
    .footer_inner{
      width: 50%;
      height: 30%;
      text-align: center;
      a{
        color: #fff;
        text-decoration: none;
      }
    }
}
}
  

}