.main {
  width: var(--sys-wid);
  margin: 0 auto;
  flex: 1;
  background: #fff;
  padding: 30px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
}


.finish {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  font-size: 24px;

  &>span {
    padding: 20px;
  }

  button {
    margin-top: 20px;
  }
}

.menu {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 0;

  button {
    margin: 0 10px;
    background: var(--clr-main)!important;
  }
}


.desc {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  margin-top: 20px;

  &>p {
    font-size: 24px;
    margin: 20px;
  }

}


.wrap {
  width: 100%;
  display: flex;
  list-style: none;
  flex-direction: column;
  color: #666;
  font-size: 16px;
  padding: 0 50px;
  box-sizing: border-box;

  li {
    padding: 5px 10px;
  }
}

.fun {
  display: flex;
  justify-content: flex-end;
}



.ret {
  display: flex;
  margin: 10px 0;

  .list  {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
  }

  .detail {
    flex: 1;
    margin: 5px 10px;
    padding: 20px 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);

    .none {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      color: #ccc;
      height: 100%;
    }
  }
}


.item {
  display: flex;
  flex-direction: column;
  width: calc( ( 100% - 50px ) / 5);
  opacity: .3;
  margin: 5px;
  cursor: pointer;
  transition: .3s;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);

  span {
    font-size: 16px;
    padding: 10px 15px;
  }

  img {
    width: 100%;
  }
}



.sect {
  color: var(--clr-main);
  font-size: 18px;
  border-bottom: 1px solid var(--clr-main);
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.desc {
  color: #333;
  margin-bottom: 20px;
  line-height: 1.8;
  font-size: 14px;
}


.field {
  font-size: 16px;
  line-height: 1.8;
  margin: 20px 0;

  p {
    color: #333;
    padding: 5px 10px;
    text-indent: 40px;
  }
}











